/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------

//Cardinal Color Variables
$cardinal-red: #339900;
$dark-red: #000000; //Link Color
$cardinal-light: #339900; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$cardinal-bg: #999999; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Beige Color Variables
$beige: #999999;
$beige-60: lighten($beige, 18.5%); //Main Border/HR Color
$beige-25: lighten($beige, 25%); 

//Sandstone Color Variables
$sandstone: #999999;
$sandstone-50: lighten($sandstone, 9%);
$sandstone-25: lighten($sandstone, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3c30; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e6df; //Block/Course BG Color
$gray-2: #f2f1eb;
$gray-1: #fbfbf9; //Main BG Color
$white: $gray-1;

$black: #2e2d29;
$black-80: #585754;



//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Source Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: transparentize(lighten($sandstone, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($sandstone, 18.5%), .25);
$footer-bg: $sandstone-25;
$courseware-footer-border: 1px solid $beige-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-2: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-3: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-4: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-5: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-6: linear-gradient($beige-60 0%, $beige-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-red;
$link-color-d1: $dark-red;
$link-hover: $cardinal-light;
$site-status-color: $cardinal-bg;

$header-graphic-super-color: $dark-red;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-red;
$header-link-hover: $cardinal-light;

$button-color: $cardinal-red;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $cardinal-red;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-red;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-red;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $sandstone;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $sandstone-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $sandstone-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $beige-60;
$border-color-2: $beige-60;
$border-color-3: $beige-60;
$outer-border-color: $beige-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $sandstone-25;
$homepage__header--gradient__color--bravo: $sandstone-25;
$homepage__header--background: $sandstone-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $sandstone-25;
$dashboard-profile-color: $gray-3;
$dot-color: $beige-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/stanford/images/stanford-pano.jpg');

$login-banner-image: none;
$register-banner-image: none;

$video-thumb-url: '../themes/stanford/images/stanford-video-thumb.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    margin-top: 50px;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}