## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## Toss the Stanford brand bar on top of the page
<%block name="navigation_top">
  <div id="su-header">
    <div class="su-container">
      <a href="http://www.alchemylab.co">
        <img src="http://blog.alchemylab.co/content/images/2014/Jun/logo-2x-1.png" alt="Alchemy Lab" width="304" height="46">
      </a>
    </div>
  </div>
</%block>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/stanford/images/stanford-S-logo.png')}" height="35" alt="Home Page" />
</%block>

## We don't want extra links inside the navigation dropdown
<%block name="navigation_dropdown_menu_links" />

## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
  <li class="nav-global-01">
    <a href="${marketing_link('ABOUT')}">About</a>
  </li>
</%block>

## When authenticated, show both the about page and find courses
<%block name="navigation_global_links_authenticated">
  <li class="nav-global-01">
    <a href="${marketing_link('ABOUT')}">About</a>
  </li>
  <li class="nav-global-02">
    <a href="${marketing_link('COURSES')}">Find Courses</a>
  </li>
</%block>

