## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
%>
<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
          <li><a href="${reverse('about_edx')}#careers">Careers</a></li>
          <li><a href="${reverse('about_edx')}#contact">Contact</a></li>
          <li><a href="https://stanfordonline.zendesk.com/hc">Help</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org"></a>.</span>
    </div>
  </footer>
</div>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://www.alchemylab.co">
          <img src="http://blog.alchemylab.co/content/images/2014/Jun/logo-2x-1.png" alt="Alchemy Lab" width="152" height="23">
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul>
          <li class="home"><a href="http://www.alchemylab.co">Alchemy Lab</a></li>

        </ul>
        <div class="clear"></div>
        <p class="copyright vcard">&copy; <span class="fn org">Alchemy Lab</span>, <span class="adr"> <span class="locality">Alchemy Lab</span>, <span class="region">Arizona</span> <span class="postal-code"></span> </span></p>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
